html {
  background-color: $viewport-background-color;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 0 20px;
}

.header {
  text-align: center;
  background: #dbffce;
  padding-top: 15px;
  padding-bottom: 1px;

  h2 {
    display: inline-block;
  }
}

.form {
  width: 65%;

  text-align: center
}

.l-pr {
  float: right;
}
