.check_in__container {
  display: flex;
  flex-wrap: wrap;
}

.check_in__item {
  display: flex;
  flex-direction: column;
  margin: $spacing-base;
  min-height: 11rem;
  width: 45%;
}

.check_in__item-header {
  align-items: stretch;
  display: flex;
  margin-bottom: $spacing-small;
  max-height: 70px;

  *::-webkit-scrollbar {
    display: none;
  }
}


.check_in__item-calendar {
  background-color: $light-gray;
  border-radius: 5px;
  padding-left: $spacing-small;
  padding-right: $spacing-small;
  text-align: center;

  .month {
    font-size: $font-size-large;
  }

  .day{
    font-size: $font-size-x-large;
  }

  .month, .day {
    line-height: 1.25em;
  }
}

.check_in__item-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: $spacing-small;
  margin-right: $spacing-xx-medium;
  min-width: fit-content;
}

.check_in__item-photos {
  align-items: baseline;
  display:flex;
  overflow-x: scroll;
  overflow-y: hidden;

  a {
    min-height: fit-content;
    min-width: fit-content;
  }

  img {
    margin-left: 0.5rem;
  }
}

.check_in__item-body{
  margin-bottom: $spacing-small;
  flex-grow: 1;
}

.check_in__item-footer{
  display: flex;
}
