.header {
  display: flex;
  align-items: center;

  height: 65px;
  background: $plantiful-green;
  padding: 20px;

  box-shadow: 0 1px 4px $light-gray;
  z-index: 1;
}

.header__item--full {
  align-items: center;
  display: flex;
  flex: auto;
  margin: 0;

  svg {
    position: relative;
    top: 3px;
  }
}

.header__text {
  margin-left: 5px;
}

.header__item {
  margin: 0;
}

