.header {
  display: flex;
  align-items: center;

  height: 65px;
  background: #dbffce;
  padding: 20px;

  box-shadow: 0 1px 4px $light-gray;
}

.header__item--full {
  flex: auto;
  margin: 0;
}

.header__item {
  margin: 0;
}
