.main {
  margin-left: auto;
  margin-right: auto;
  padding: 25px 25px 0 25px;
}

.container__center {
  margin-left: auto;
  margin-right: auto;
  width: 768px;
}

.container__shadow {
  box-shadow: 0px 0px 3px $light-gray;
}

.centered-text {
  text-align: center;
}

.form {
  text-align: center;
  padding: 20px;

  .input__number {
    width: 10%;
  }

  .input__check {
    display: inline-block;
  }

  .input__select {
    width: 75%;
  }
}

.check_in__row {
  div {
    display: inline-block;
    margin: $spacing-small;
  }
}

.avatar {
  width: 15em;
  cursor: pointer;
}
