.main {
  margin-left: auto;
  margin-right: auto;
  padding: 25px 25px 0 25px;
}

.container__center {
  margin-left: auto;
  margin-right: auto;
}

.container__shadow {
  box-shadow: 0px 0px 3px $light-gray;
}

.form {
  width: 768px;
  text-align: center;
  padding: 20px;
}
