.main {
  margin-left: auto;
  margin-right: auto;
  padding: 25px 25px 0 25px;
}

.container__center {
  margin-left: auto;
  margin-right: auto;
  width: 65rem;
}

.container__center-wide {
  margin-left: auto;
  margin-right: auto;
  max-width: 90rem;
  width: 90vw;
}

.container__grid {
  display: grid;
  align-items: center;
  grid-gap: 2rem;
  grid-template: 1fr / repeat(4, 1fr);
  min-height: 20rem;
}

.container__shadow {
  box-shadow: 0px 0px 3px $light-gray;
}

.centered-text {
  text-align: center;
}

.form {
  text-align: center;
  padding: 20px;


  .check_frequency_inputs {
    display: grid;
    grid-gap: 1rem;
    grid-template: 1fr / repeat(8, 1fr);
  }

  .input__number {
    grid-area: 1 / 1 / span 1 / span 1;
  }

  .input__select {
    grid-area: 1 / 2 / span 1 / span 7;
  }
}

.avatar {
  cursor: pointer;
  border-radius: 10px;
}

.details__image {
  grid-area: 2 / 1 / auto / span 1;
}

.details__controls-right {
  cursor: pointer;
  display: flex;
  grid-area: 1 / 4 / 2 / 5;
  justify-self: right;

  * {
    margin-left: 5px;
  }
}

.details__controls {
  color: $action-color;

  a {
    text-decoration: none;
  }

  svg {
    position: relative;
    top: 3px;
  }
}

.details__container {
  margin-bottom: $spacing-large;
}

.details__section {
  display: flex;
  flex-direction: column;
  grid-area: 2 / 2 / span 1 / span 3;
}

.details__name {
  font-size: $font-size-x-large;
}

.details__botanical-name {
  font-size: $font-size-large;
}


