.main {
  margin-left: auto;
  margin-right: auto;
  padding: 25px 25px 0 25px;
}

.container__center {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

.container__flex {
  display: flex;
  width: 1024px;
}

.container__shadow {
  box-shadow: 0px 0px 3px $light-gray;
}

.centered-text {
  text-align: center;
}

.form {
  text-align: center;
  padding: 20px;

  .input__number {
    width: 10%;
  }

  .input__check {
    display: flex;
  }

  .input__select {
    width: 75%;
  }
}

.avatar {
  cursor: pointer;
  flex-grow: 2;
}

.details__container {
  display: flex;
  flex-direction: column;
  flex-grow: 2;

  padding-top: $spacing-x-medium;
  padding-left: $spacing-x-large;

  margin-bottom: $spacing-x-large;
}

.details__name {
  font-size: $font-size-x-large;
}

.details__botanical-name {
  font-size: $font-size-large;
}

#croppie{
  height: 400px;
}

.cr-slider-wrap {
  width: 45%!important;
}
